@page
@model LoginModel

@{
    Layout = "";
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Intranet</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->


    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icons/logo.jpg">
    <link rel="icon" type="image/jpg" sizes="32x32" href="~/img/icons/logo.jpg">
    <link rel="icon" type="image/jpg" sizes="16x16" href="~/img/icons/logo.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icons/logo.jpg">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/img/icons/logo.jpg">
    <meta name="theme-color" content="#ffffff">
    <script src="~/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/simplebar/simplebar.min.js"></script>
    <script src="~/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->

    <link href="~/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/vendors/dhtmlx-gantt/dhtmlxgantt.css" rel="stylesheet">
    <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="~/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="~/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="~/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="~/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
        var phoenixIsRTL = JSON.parse(localStorage.getItem('phoenixIsRTL'));
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>
<body>
    <div class="main" id="top">
        <div class="container-fluid px-0">
            <div class="container">
                <div class="row flex-center min-vh-100 py-5">
                    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">

                        <form id="account" method="post">

                            @*<div class="text-center mb-7">
                            <h3 class="text-1000">Iniciar sesión</h3>

                            </div>*@
                            <a class="d-flex flex-center text-decoration-none mb-4" href="#">
                                <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                                    <img src="~/img/icons/logo.jpg" alt="phoenix" width="58" />
                                </div>
                            </a>
                            <div class="position-relative">
                                <hr class="bg-200 mt-5 mb-4" />
                                <div class="divider-content-center">Inicia sesión para comenzar</div>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="mb-3 text-start">
                                <label class="form-label" for="email">DIRECCIÓN DE CORREO ELECTRÓNICO</label>
                                <div class="form-icon-container">
                                    <input asp-for="Input.Email" class="form-control form-icon-input" autocomplete="username" type="email" aria-required="true" placeholder="nombre@dominio.com" /><span class="fas fa-user text-900 fs--1 form-icon"></span>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label" for="password">CONTRASEÑA</label>
                                <div class="form-icon-container">
                                    <input asp-for="Input.Password" class="form-control form-icon-input" autocomplete="current-password" type="password" aria-required="true" placeholder="contraseña" /><span class="fas fa-key text-900 fs--1 form-icon"></span>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row flex-between-center mb-7">
                                <div class="col-auto">
                                    <div class="form-check mb-0">
                                        <label asp-for="Input.RememberMe" class="form-check-label mb-0">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            Recordarme
                                            @*@Html.DisplayNameFor(m => m.Input.RememberMe)*@
                                        </label>
                                        @* <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" />
                                        <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>*@
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a id="forgot-password" class="fs--1 fw-semi-bold" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                                </div>
                            </div>
                            <button id="login-submit" type="submit" class="btn btn-primary w-100 mb-3">Iniciar sesión</button>
                            <div class="text-center"><a asp-page="./Register" class="fs--1 fw-bold" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como usuario nuevo</a></div>
                            <div class="text-center"><a id="resend-confirmation" class="fs--1 fw-bold" asp-page="./ResendEmailConfirmation">Reenviar correo electrónico de confirmación</a></div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <script>
            var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
            var navbarTop = document.querySelector('.navbar-top');
            if (navbarTopStyle === 'darker') {
                navbarTop.classList.add('navbar-darker');
            }

            var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
            var navbarVertical = document.querySelector('.navbar-vertical');
            if (navbarVerticalStyle === 'darker') {
                navbarVertical.classList.add('navbar-darker');
            }
        </script>
    </div>

</body>
</html>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="~/vendors/popper/popper.min.js"></script>
<script src="~/vendors/bootstrap/bootstrap.min.js"></script>
<script src="~/vendors/anchorjs/anchor.min.js"></script>
<script src="~/vendors/is/is.min.js"></script>
<script src="~/vendors/fontawesome/all.min.js"></script>
<script src="~/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="~/vendors/list.js/list.min.js"></script>
<script src="~/vendors/feather-icons/feather.min.js"></script>
<script src="~/vendors/dayjs/dayjs.min.js"></script>
<script src="~/vendors/choices/choices.min.js"></script>
<script src="~/vendors/echarts/echarts.min.js"></script>
<script src="~/vendors/dhtmlx-gantt/dhtmlxgantt.js"></script>
<script src="~/js/phoenix.js"></script>
<script src="~/js/projectmanagement-dashboard.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
