mixin Cta
	+Section('container-small')
		.row.flex-center
			.col-12.col-lg-9.col-xl-7.pt-4.pb-11
				.text-center
					img.mw-100.mb-6(src=`${CWD}assets/img/spot-illustrations/33-s.png` width='422' alt="")
					h2.mb-8.text-1000.fw-normal Still have questions? We are
						span.text-primary.position-relative.fw-bolder.ms-2 happy to help
							img.w-100.text-illustration-underline(src=`${CWD}assets/img/spot-illustrations/31.png`, alt="")
					a.btn.btn-lg.btn-primary(href="mailto:support@themewagon.com")
						span.fas.fa-comment.me-2
						| Give us a knock