mixin FeatureFigma
	section.bg-linear-gradient.py-12
		+Background({image: `${CWD}assets/img/bg/27.png`, attrs: { style: { 'background-position': '22.92%', 'background-size': 'auto','background-blend-mode': 'overlay','opacity': '0.25'} } })
		.container-small.position-relative
			.row
				.col-12.d-flex.justify-content-center.flex-between-center.mb-3
					img.me-3(src=`${CWD}assets/img/icons/figma.png` alt="")
					h1.text-white Figma design files
				p.text-center.mb-0.text-white Modern &amp; highly customizable, simple and user-friendly UI components 🎨 based on Bootstrap design system only for you!
